
<ion-pane ng-controller="AboutCtrl">
	<ion-view view-title="AboutUs">
	  <ion-conten>
<!-- START Section - About Us -->
	<section id="about-us" class="section-container">
		
		<!-- START Section Heading -->
		<div class="wow fadeInDown" data-wow-duration="2s" data-wow-offset="250" { overflow-y: scroll; overflow-x:hidden; }>
			<header class="section-heading">
				<h2 class="section-heading-title">About Us</h2>
				<div class="section-heading-subtitle-container tilt-left">
					<h4 class="section-heading-subtitle" style='margin-left: 175px;'>Whats our Story?</h4>
				</div>
			</header>
		</div>
		<!-- END Section Heading -->
		
		<div class="grid-container" style='margin-left: 175px;'>
		
			<!-- START Section Images -->
			<div class="grid-50 tablet-grid-100 mobile-grid-100">
				<div class="wow rotateIn" data-wow-duration="2s" data-wow-offset="250">
					<div class="about-images">
						<img class="about-main" src="images/assets/about-main.jpg" alt="About Corporate Dhaba" />
						<!-- <img class="about-inset" src="images/assets/about-inset.jpg" alt="Tiffin services" /> -->
					</div>
				</div>
			</div>
			<!-- END Section Images -->
			
			<!-- START Section Content -->
			<div class="grid-50 tablet-prefix-10 tablet-grid-80 tablet-suffix-10 mobile-grid-100 tablet-center mobile-center">
				<div class="wow fadeInRight" data-wow-duration="2s" data-wow-offset="250">
					<h4 class="header-divider">We are changing the tiffin service experince.</h4>
                    <p><strong>Problem</strong></p>
					<p>A good nutritional meal can also determine how we look, feel and work. In short it is the secret to quality of life. But with our busy schedules, it becomes practically impossible to keep a 
					track of the intake of all the required nutrients in a day.</p>
					<p><strong>Solution</strong></p>
					<p>Mera Wala Tiffin Services is a homemade food delivery service available at your doorstep. We cater to students and Individuals who require healthy tiffin service across Navi Mumbai. Also, we provide home cooked food delivery to offices for which only bulk orders are accepted across Navi Mumbai.</p>
					<p>We prioritize your health and make it our responsibility to never compromise in the cooking process. Our homely food comes in a variety of mouth watering dishes; having the right amount of nutritions to support your daily healthy tiffin.</p>					
					<a class="hungry-button" href="#menu">See the Menu</a>
					<a class="hungry-button dark" href="#" target="_blank">Order Now!</a>
				</div>
			</div>
            
          	
		</div>		
	</section>
  </ion-content>
 </ion-view>
</ion-pane>