<ion-pane ng-controller="MenuCtrl">
    <ion-view view-title="Menu">
      <ion-conten>
            <div class="col-sm-12 menu-base no-padding">
                    <div class="col-sm-4 menu-block animate-in move-up animated" id="menu1">
                        <div class="menu-item">
                            <div class="menu-image">
                                <img src="images/assets/slide-image-01.jpg" width="358" height="275" style="margin-left: 20px; margin-top: 60px;">
                                <div class="price">Rs 75</div>
                            </div>
                            <div class="menu-text">
                                <h3>Chota Wala Tiffin</h3>
                                <p>4 Roti with good quantity of Vegetable</p>
                                <p>Rs 75/- For Daily Including Delivery Charges</p>
                                <div class="order-btn" style="margin-top: 15%;">
                                <a href="#" data-toggle="modal" data-target="#enquiry-modal" class="hungry-button dark">Enquiry</a>
                                <a href="http://merawalatiffin.com/store/index.html" class="hungry-button dark">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 menu-block animate-in move-up animated" id="menu2">
                        <div class="menu-item">
                            <div class="menu-image">
                               <img src="images/assets/slide-image-01.jpg" width="358" height="275">
                                <div class="price">Rs 95</div>
                            </div>
                            <div class="menu-text">
                                <h3>Bada Wala Tiffin</h3>
                                <p>4 Roti with good quantity of Vegetable and Plain Steamed rice and Dal</p>
                                <p>Rs 95 /- For Daily Including Delivery Charges</p>
                                <div class="order-btn">
                                <a href="#" data-toggle="modal" data-target="#enquiry-modal" class="hungry-button dark">Enquiry</a>
                                <a href="http://merawalatiffin.com/store/index.html" class="hungry-button dark">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 menu-block animate-in move-up animated" id="menu3">
                        <div class="menu-item">
                            <div class="menu-image">
                                <img src="images/assets/slide-image-01.jpg" width="358" height="275">
                                <div class="price">Rs 125</div>
                            </div>
                            <div class="menu-text">
                                <h3>Non-Veg Wala Tiffin</h3>
                                <p>4 Roti With Varient of Chicken and also Plain Steamed rice with Dal</p>
                                <p>Rs 125 /- For Daily Including Delivery Charges</p>
                                <div class="order-btn">
                                <a href="#" data-toggle="modal" data-target="#enquiry-modal" class="hungry-button dark">Enquiry</a>
                                <a href="http://merawalatiffin.com/store/index.html" class="hungry-button dark">Order Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </ion-content>
    </ion-view>
</ion-pane>