<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<ion-view view-title="Playlists">
  <ion-content>
    <!-- <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item> -->
      
      <div class="row">
      
      <!-- Images -->
      
		
			<!-- START Site Logo -->
			
			  
			<img src="../images/assets/banner.jpg" alt="Slide Image 01" class="img-responsive" />
			<!-- <div class="grid-20 tablet-grid-50 mobile-grid-50">
				<img class="site-logo" src="../images/assets/logo.png" alt="Mera Wala Tiffin" />
			</div> -->
      
      
     </div>



    <!-- </ion-list> -->
  </ion-content>
</ion-view>
